@import url('./styles.css');

:root {
    --bgColor: #171F26;
    --DisplayBgColor: #171F26;
    --displayFontColor: #37A603;
    --calcBgColor: #3B4E59;
    --btnColor: #4C6473;
    --btnColorFont: #171F26;
    --btnShadow: #2a283f;
    --font: 'Roboto';
};
