* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-weight: bold;
}

:root {
    --bgColor: #c0b5a7;
    --DisplayBgColor: #333;
    --displayFontColor: #37A603;
    --calcBgColor: #faebd7;
    --btnColor: #65656b;
    --btnColorFont: #fff;
    --btnShadow: #2a283f;
    --font: 'Roboto';
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--bgColor);

}

.historyContainer {
    position: relative;
    width: 300px;
    height: 100%;
    padding: 20px;
    background-color: bisque;
    z-index: -1;
    
}

#history {
    position: absolute;
    font-size: 30px;
    padding: 20px;
}

.history__title {
    text-align: center;
    border: 2px solid #161616;
}

.history__register {
    width: 100%;
    height: 80%;
    border: 1px solid #161616;
}


.calculatorContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #161616; */
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 550px;
    background-color: var(--calcBgColor);
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 1px 20px #262439;

}

h1 {
    color: #161616;
    font-size: 30px;
}

.displayContainer {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 70px;
    background-color: var(--DisplayBgColor);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#display{
    position: relative;
    background-color: transparent;
    color: var(--displayFontColor);
    border: none;
    width: 100%;
    height: 100%;
    text-align: right;
    outline: none;
    font-size: 25px;
    cursor: default;
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--displayFontColor);
}

.buttons {
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


.btn, #clear, #equal {
    width: 100%;
    height: 100%;
    font-size: 20px;
    box-shadow: 2px 2px 1px var(--btnShadow);
    background-color: var(--btnColor);
    color: var(--btnColorFont);

    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 3ms ease;
}

.pressed {
    transform: scale(0.95);
    box-shadow: none;
    border: 1px solid var(--btnShadow);
}

.config {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin-top: 20px;
    gap: 20px;
    /* border: 2px solid #37A603; */
}

.config > select {
    background-color: #333;
    color: #fff;
    border: none;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
}

.hidden {
    display: none;
}